
  <table id="table-width">
      <tr>
      
          <td  style="font-size: 18px;margin-left: 73px;"><b>Add Supplier</b> </td> 
      <td><input class="labled" type="text"><span class="aligned-with-iconn"><button id="butn" mat-stroked-button> <u>Suggest</u></button></span> 
        <span class="aligned-with-iconn1"><button mat-stroked-button>Add New Supplier</button></span></td> 
      
    </tr><br>
     <tr>
        <td style="font-size: 18px;margin-left: 73px;"><b>Collaboration Setup</b></td> 
        <td><input class="labled" type="text"><span class="aligned-with-iconn"><button  mat-stroked-button>Add New Names</button></span></td> 
        
     </tr><br>
     <tr>
        <td style="font-size: 18px;margin-left: 73px;"><b>Technical Specification</b></td> 
        <td><input class="labled" type="text"><span class="aligned-with-icon"><mat-icon id="box-iconn">add_box</mat-icon></span></td> 
    
     </tr><br>
     
     <tr>
       <td></td>
      <td id="lasttd">
        <button mat-stroked-button>Preview</button>
        <button mat-stroked-button>Save as Draft</button>
        <button id="butnb" mat-stroked-button><u>Create RFX</u></button>
        </td>
     </tr>
    </table>